// ======================================
//  Variables
// ======================================

// Colors
$color-main-font: #777; //grey
$color-primary: #58e1c1; //sea green
$color-link: #51ddfc; //light blue

// Fonts
$font-stack-primary: 'Lato', sans-serif;

// Layout

//Breakpoints

//Theme Colors