/* ============================================= */
/*              Buttons                          */
/* ============================================= */
  
.btn {
  margin-top: 15px;
  width: 100%;
  color: $color-button-font;
  border: none;
  padding: 10px 0;
  text-transform: uppercase;
  border-radius: 5px;
}
  
.default {
  background-color: $color-link;
}

.error {
  background-color: $color-col-9;
}

.info {
  background-color: $color-col-1;
}

.success {
  background-color: $color-col-10;
}

.warning {
  background-color: $color-col-2;
}

