/* ============================================= */
/*              Images                           */
/* ============================================= */
  
.img {
  &-logo {
    @include img-all;
  }
  &-avatar {
    @include img-all;
    @include img-avatar-frame;
    max-height: 100%;
  }
  &-frame {
    @include img-all;
    @include img-avatar-frame;
    padding: 13px;
    border: 1px solid $color-img-brdr;
  }
}

