
/* ============================================= */
/*              Base styles                      */
/* ============================================= */

* {
    box-sizing: border-box;
  }

body {
    color: $color-main-font;
    font-family: $font-stack-primary;   
}

  p {
    line-height: 1.45em;
  }
  
  a {
    text-decoration: none;
  }
  